body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.img-container img {
    margin: 10px;
    object-fit: cover;
    width: 300px;
    height: 300px;
    max-width: 100%;
}
